*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}
header{
    background-color: #0710D7;
    margin-bottom: 15px;
    padding: 30px 10px 7px 15px;
    border-bottom: 10px solid black;
    color: floralwhite;
}
header > div > a:link, header > div > a:visited{
    text-decoration: none;
    padding: 0px 10px 0px 10px;
    border: 5px solid black;
    color:floralwhite;
    background-color: darkslateblue;
    text-align: center;
}
header > div > a:link, header > div > a:hover {
    background-color: lightblue;
    color: black;
    border: 5px solid white;
    font-weight: bold;
}
#Logo{
    position: absolute;
    top: 20px;
}
#Motto{
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    position: middle;
    margin-bottom: 22px;
    margin-left: 64px;
}
body{
    background-color: #76A2F2;
}