#root {
    background-color: #5464d1;
}
#app {
    margin: (50px 50px 50px 50px);
    padding: (50px 50px 50px 50px);
    width: 100%;
}
#results-wrapper {
    width: 100%;
    padding-top: 100%;
    position: relative;
}
#results-wrapper * {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}